%h3 Posts:
%ul
  - @posts.each do |post|
    %li
      = link_to post_url(post) do
        = "#{post.title} (#{post.comments_sum})"

%h3 Autologin Users:
%ul
  - User.all.each do |user|
    %li
      = link_to autologin_url(user) do
        - admin = user.comments_admin? ? '[Admin]' : nil
        = "#{user.username} (#{user.draft_comcoms_count}) #{admin}"

%h3 Recent Comments:
%ul
  - @recent_comments.each do |comment|
    %p
      %b= link_to comment.commentable_title, comment.commentable_url
      %br
      %i= comment.content
