%h3
  = link_to 'New Comment', '#', id: :new_root_comment

= form_for Comment.new, remote: true, authenticity_token: true do |f|
  %label title:
  %p= f.text_field :title

  %label contacts:
  %p= f.text_field :contacts

  %label content*:
  %p= f.text_area :raw_content

  = f.hidden_field :commentable_type, value: commentable.class
  = f.hidden_field :commentable_id,   value: commentable.id
  = f.hidden_field :parent_id, class: :parent_id

  %p= f.submit 'Create Comment', class: :btn