!!!
%html
%head
  %title TheComments Dummy App
  = stylesheet_link_tag    :application, media: :all
  = javascript_include_tag :application
  = csrf_meta_tags

%body
  .body
    %p
      = link_to 'Home', root_path
      \|
      - if current_user
        User: #{current_user.username}
        \|
        = link_to "Comments Manage (+#{current_user.draft_comcoms_count})", manage_comments_path
      - else
        Guest
    = yield