!!!
%html
%head
  %title TheComments Dummy App
  = stylesheet_link_tag    :application, media: :all
  = javascript_include_tag :application
  = csrf_meta_tags

%body
  .body
    %p= link_to 'Home', root_path
    = yield