.new_comment_link= link_to t('the_comments.new'), '#', data: { role: :new_root_comment }

= form_for Comment.new, remote: true, id: nil, data: { type: :json, role: :new_comment }, authenticity_token: true do |f|
  - if current_user
    = render partial: 'the_comments/haml/form.logined', locals: { f: f, commentable: commentable }
  - else
    = render partial: 'the_comments/haml/form.guest', locals: { f: f, commentable: commentable }

  %p
    = f.check_box :subscribe_to_thread_flag, { autocomplete: :off, checked: true }, true, false
    = t('.the_comments.subscribe_to_thread')
  %p
    = f.submit t('the_comments.form.create'), class: :btn
    = t('the_comments.form.thank_you')
