.comment
  .commentable
    = comment.commentable_type
    &rarr;
    = link_to comment.commentable_title, comment.commentable_url
    = comment.try(:commentable_state) ? "(#{comment.try(:commentable_state)})" : nil
  .title
    %label from:
    = comment.title.blank? ? t('the_comments.guest_name') : comment.title
  .contacts
    %label contacts:
    = comment.contacts
  .content
    = comment.content
  .params
    %b tolerance time:
    = comment.tolerance_time || 'none'
    \|
    %b ip:
    = link_to(comment.ip, ip_black_lists_url(ip: comment.ip)) || 'none'
    \|
    %b UA:
    = link_to(comment.user_agent, user_agent_black_lists_url(agent: comment.user_agent)) || 'none'
    \|
    %b referer:
    = comment.referer || 'none'

  .controls
    = link_to :Edit, '#', class: :edit
    = render partial: 'the_comments/manage_controls', locals: { comment: comment }