.comment{ class: comment.state }
  .commentable
    = comment.commentable_type
    &rarr;
    = link_to comment.commentable_title, comment.commentable_url
    = comment.try(:commentable_state) ? "(#{comment.try(:commentable_state)})" : nil
  .title
    %label from:
    = comment.title.blank? ? t('the_comments.guest_name') : comment.title
  .contacts
    %label contacts:
    = comment.contacts
  .content
    = comment.content
  .controls
    = link_to :Edit, '#', class: :edit
    = render partial: 'the_comments/manage_controls', locals: { comment: comment }