- content_for :comments_main do
  = paginate @comments

  - @comments.each do |comment|
    - klass = { published: :primary, draft: :warning }[comment.state.to_sym]
    .panel{ class: "panel-#{klass}" }
      .panel-heading= comment.title
      .panel-body
        = render partial: 'the_comments/comment_edit', locals: { comment: comment }
        = render partial: 'the_comments/comment_body', locals: { comment: comment }
        
  = paginate @comments