- cuser = current_user

%h5= t 'the_comments.written_by_me'

%p= link_to "Все мои (#{ cuser.my_comments.count })",                [:my_comments,  :comments], class: 'btn btn-default btn-sm'
%p= link_to "Опубликованы (#{ cuser.my_published_comments.count })", [:my_published, :comments], class: 'btn btn-default btn-sm'
%p= link_to "На модерации (#{ cuser.my_draft_comments.count })",     [:my_draft,     :comments], class: 'btn btn-default btn-sm'

- if !cuser.my_deleted_comments.count.zero?
  %p
    %span.btn.btn-default.btn-sm= "Удалены (#{ cuser.my_deleted_comments.count })"
