- content_for :title do
  = t "the_comments.management"

- content_for :comments_sidebar do
  = render partial: 'the_comments/haml/sidebar'

- content_for :comments_main do
  = paginate @comments

  .comments
    - @comments.each do |comment|
      - klass = { published: :primary, draft: :warning, deleted: :danger }[comment.state.to_sym]
      .panel{ class: "panel-#{klass}" }
        .panel-heading= comment.title
        .panel-body
          = render partial: 'the_comments/haml/comment_body', locals: { comment: comment }

  = paginate @comments